@font-face {
  font-family: 'Lemonada';
  src: url('../resources/fonts/Lemonada-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.tt-font {
  font-family: 'Lemonada', serif;
}

#logo {
  font-size: 200%;
}