@font-face {
  font-family: 'Lemonada';
  src: url('../resources/fonts/Lemonada-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

.load-more {
  margin: 5% auto;
  text-align: center;
  cursor: pointer;
}

.hero-head {
  position: fixed;
  width: 100%;
  z-index: 2;
  background-color: #FAFAFA;
  box-shadow: 0 1px 3px rgba(10, 10, 10, 0.1);
}

.hero-body { margin-top: 3rem; }

.column:first-of-type { position: relative; }

.column:nth-of-type(2) { z-index: 1; }

.sidebar {    /* create media-query */
  position: fixed;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: 74%;
  width: 23%;
}

.panel:not(:last-child) { margin-bottom: 0.85rem; }

.custom-footer {
  margin: 0 0;
  padding: 0 0;
  font-size: 0.90rem;
  text-align: center;
}

.custom-footer p { display: inline-block; }

.content p:not(:last-child) { margin-bottom: 0.5em; }

.custom-footer a { color: rgba(42, 40, 41, 0.65); }

.custom-footer a:hover { color: rgba(42, 40, 41, 0.90); }

.custom-footer p:not(:last-of-type)::after { content: " • " }

.modal-card-head { background-color: hsl(348, 100%, 61%); }

.modal-card-head * { color: #fff; }

.card {
  margin-bottom: 10px;
  border-radius: 3px;
  box-shadow: 0 2px 2px rgba(10, 10, 10, 0.1), 0 0 0 1px rgba(10, 10, 10, 0.1)
}

.card-footer-item { cursor: pointer; }

.card-footer-item:hover { background-color: hsl(0, 0%, 96%); }

.content .timestamp {
  float: right;
  color: rgba(0, 0, 0, 0.5);
  cursor: default;
}


#loader {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: hsl(171, 100%, 41%);
  z-index: 99;
  overflow: hidden;
}

.hidden {
  display: none;
}

.spinner {
  width: 100px;
  height: 100px;
  margin: -50px 0 0 -50px;
  position: absolute;
  top: 50%;
  left: 50%;
}

.double-bounce1, .double-bounce2 {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: #fff;
  opacity: 0.6;
  position: absolute;
  top: 0;
  left: 0;
  
  -webkit-animation: sk-bounce 2.0s infinite ease-in-out;
  animation: sk-bounce 2.0s infinite ease-in-out;
}

.double-bounce2 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes sk-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bounce {
  0%, 100% { 
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% { 
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}


.tt-font {
  font-family: 'Lemonada', serif;
}

#logo {
  font-size: 200%;
}

/* #recent row highlighted (closest representation of the
 *   'is-selected' class in v0.4.2 from Bulma
 */
.base {
  background-color: hsl(171, 100%, 41%);
  transition: background-color ease 1500ms;
}

#recent.base td {
  color: #ffffff;
  transition: color ease 1500ms;
}

.base * {
  color: #ffffff;
  transition: color ease 1500ms;
}

/* #recent row back to it's original appearance using CSS
 *   transitions
 */
.active {
  background-color: transparent;
}

#recent.active td {
  color: #7a7a7a;
}

.active * {
  color: hsl(171, 100%, 41%);
}