@font-face {
  font-family: 'Lemonada';
  src: url('../resources/fonts/Lemonada-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

/*
 * Altered Bulma default classes
 */
.modal-card-head {
  background-color: hsl(348, 100%, 61%);
}

.modal-card-head * {
  color: #fff;
}


.tt-font {
  font-family: 'Lemonada', serif;
}

#logo {
  font-size: 200%;
}

/* #recent row highlighted (closest representation of the
 *   'is-selected' class in v0.4.2 from Bulma
 */
.base {
  background-color: hsl(171, 100%, 41%);
  transition: background-color ease 1500ms;
}

#recent.base td {
  color: #ffffff;
  transition: color ease 1500ms;
}

.base * {
  color: #ffffff;
  transition: color ease 1500ms;
}

/* #recent row back to it's original appearance using CSS
 *   transitions
 */
.active {
  background-color: transparent;
}

#recent.active td {
  color: #7a7a7a;
}

.active * {
  color: hsl(171, 100%, 41%);
}